@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo Black:wght@400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


body {
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: -4px;
    font-weight: 900;
  }
  
  body, * {
    cursor: none;
  }
  
  .shapes {
    position: relative;
    height: 100vh;
    width:  100vw;
    background: #fafafa;
    overflow: hidden;
  }
  
  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .shape.shape-1 {
    background: #9b9b9b;
    width: 450px;
    height: 450px;
    margin: -225px 0 0 -225px;
    
  }
  
  .shape.shape-2 {
    background: #575757;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
  }
  
  .shape.shape-3 {
    background: #292929;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
  }

  .blob1{
    position: absolute;
    margin-left: -6vw;
    margin-top:30vh;

    background-color: #000000;
    z-index: 10;
    height: 16vh;
    width: 30vw;
    overlay:auto;
  }
  .blob2{
    position: absolute;
    margin-left: 30vw;
    margin-top:56vh;
    background-color: #000000;
    z-index: 0;
    height: 8vh;
    width: 10vw;
    overlay:auto;
  }

  .content {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    padding-left: 5vw;
    align-items: center;
    height: 100vh;
    width:  100vw;
    color: #fafafa;
    background: #000000; /* Black background */
    mix-blend-mode:multiply;
    overflow: hidden;
  }
  
  .greeting{
    margin: auto;
    position: relative;
    font-family: 'Archivo black', sans-serif;
    display: flex;
    color: #ffffff;
  }
  h1 {
    font-size: 80px;
    font-weight: 200;
    color: #ffffff;
    margin: 0;
    text-align: center;
  }
  
  .cursor {
    position: fixed;
    background: #ffffff;
    width: 10px;
    height: 10px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
  }
  
  ::selection {
    color: #ffffff;
    background: #000000;
  }
  

  @media (max-width: 768px) {

    .blob1{
      position: absolute;
      margin-left: 5vw;
      margin-top:25vh;
      background-color: #000000;
      z-index: 10;
      height: 15vh;
      width: 30vw;
      overlay:auto;
    }
    .blob2{
      position: absolute;
      margin-left: 60vw;
      margin-top:60vh;
      background-color: #000000;
      z-index: 0;
      height: 8vh;
      width: 20vw;
      overlay:auto;
    }
  }